@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
}

.linkReset {
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
}

.active_link {
  border-bottom: 2px solid orangered;
}

.sliderImage {
  height: 30rem;
  opacity: 0.6;
  background-size: cover;
}
.carousel-item {
  background-color: black;
}

.sliderLink {
  text-decoration: none;
}

.card-image {
  height: 25rem;
  object-fit: contain;
}
.card-image-user {
  height: 10rem;
  object-fit: contain;
}
.product-link {
  text-decoration: none;
}

.social-links {
  text-decoration: none;
  color: rgb(71, 71, 71);
  transition: all 0.9s;
}
.social-links:hover {
  transform: scale(1.2);
}

.seller-image {
  position: absolute;
  height: 3rem;
  top: 75%;
  right: 5px;
}

/* Login Section */
